*/build/
*.defaults
*.old
c_cpp_properties.json
*.lnk
mechahand.code-workspace
hand_esp32/components/arduino/
24driver/components/arduino/
24driver/components/AsyncTCP/
24driver/components/ESPAsyncWebServer/
24driver/web/node_modules
24driver/web/dist
leap_control/node_modules
leap_control/dist
24driver/jsinterface/node_modules
24driver/jsinterface/dist
*.gcode